<h1>Seja bem vindo</h1>

<p><strong>Data:</strong> <%= data_br(Date.today) %></p>

<%= nome_aplicacao %>
<%= nome_aplicacao %>
<%= nome_aplicacao %>
<%= nome_aplicacao %>
<%= nome_aplicacao %>

<ul>
    <li>
        <a href="http://localhost:3000/coins">Cadastro de moedas</a>
    </li>
    <li>
        <%= link_to "Cadastro de moedas in helper", coins_path %>
    </li>
</ul>
